@import "tailwindcss";

body {
  margin: 0;
  font-family: var(--font-inter), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}
